html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    background-color: rgb(246, 224, 195);
}

.recipe-tile {
    display: inline;
    object-fit: cover;
    width: 230px;
    height: 230px;
    
}